.missing-list {
  width: 100%;
  margin: 0 auto;

  tbody.coven {
    tr {
      background-color: #fff;

      &:hover {
        background-color: #ddd !important;
        color: #111 !important;
        cursor: pointer !important;
        a {
          color: #111 !important;
        }
      }
    }
  }
}

